{% extends 'base.html' %}

{% block title %}Enviar Nuevo Mensaje{% endblock %}

{% block content %}
<h1>Redactar Nuevo Mensaje</h1>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_asunto" class="form-label">Asunto:</label>
        <input type="text" name="asunto" class="form-control" id="id_asunto" maxlength="100">
    </div>
    <div class="mb-3">
        <label for="id_texto" class="form-label">Texto:</label>
        <textarea name="texto" class="form-control" id="id_texto" rows="4"></textarea>
    </div>
    <div class="mb-3">
        <label for="id_remitente" class="form-label">Remitente:</label>
        <input type="text" name="remitente" class="form-control" id="id_remitente" maxlength="100">
    </div>
    <div class="mb-3">
        <label for="id_destinatario" class="form-label">Destinatario:</label>
        <input type="text" name="destinatario" class="form-control" id="id_destinatario" maxlength="100">
    </div>
    <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
</form>
{% endblock %}