{% extends 'base.html' %}

{% block title %}Mensajes{% endblock %}

{% block content %}

<!--Pestañas-->
<div class="tabs">
    <a class="btn btn-primary" href="{% url 'listar_mensajes' %}?filtro=todos" id="tabTodos" class="active">Todos</a>
    <a class="btn btn-primary" href="{% url 'listar_mensajes' %}?filtro=favoritos" id="tabFavoritos">Favoritos</a>
    <a class="btn btn-primary" href="{% url 'listar_mensajes' %}?filtro=recibidos" id="tabRecibidos">Recibidos</a>
    <a class="btn btn-primary" href="{% url 'listar_mensajes' %}?filtro=enviados" id="tabEnviados">Enviados</a>
</div>

<!--Pestaña todos los mensajes-->
    <div id="contenidoTodos" class="tab-content active">
        <br>
        <h4 style="padding-top: 10px;">Todos los mensajes:</h4>
        <br>
            <tbody>
                <!-- Recorrer mensajes -->
                {% for mensaje in mensajes %}
                {% if not mensaje.eliminado %}              
                <div class="card text-bg-light mb-3" style="max-width: 70%;">
                    <div class="card-body">
                        <span class="card-title"><strong>Enviado por:</strong> {{mensaje.remitente}}</span>
                        <span class="fecha-envio" style="float: right;">{{ mensaje.fecha_envio|date:"d M" }}</span>
                        </button>
                        <!-- Deslizable --> 
                        <br>
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <!-- Asunto -->
                                    <h4 style="font-size: large;">{{mensaje.asunto}}</h4>
                                </button>
                                </h2>
                                <!-- Texto -->
                                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">{{mensaje.texto}}</div>
                                </div>
                            </div>
                        </div>
                        <!--Click ver mas detalles--> 
                        <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasBottomLabel">Detalles del mensaje</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                        <!--Detalles del mensaje-->
                            <div class="offcanvas-body small">
                                <span><strong>Fecha:</strong> {{mensaje.fecha_envio}}</span><br>
                                <span><strong>Id del mensaje:</strong>{{mensaje.pk}}</span><br>
                                <span><strong>Destinatario:</strong> {{mensaje.destinatario|capfirst}}</span><br>
                                <span><strong>Favorito:</strong> {{mensaje.favorito}}</span><br>
                                <span><strong>Eliminado:</strong> {{mensaje.eliminado}}</span><br>
                            </div>
                        </div>
                        <br>
                    </div>
                    <!--Botones opciones del mensaje-->
                    <div class="card-footer" style="display: flex; justify-content: space-between; align-items: center; background-color: rgb(32, 34, 70); border-radius: 10px;">
                        <!--boton ver mas detalles-->
                        <button class="btn btn-outline-info" style="width: 30%; height: 40px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Detalles</button>
                        <!--boton destacar el mensaje-->
                        <form method="post" action="{% url 'marcar_favorito' mensaje.pk %}">
                            {% csrf_token %}
                            <button type="submit" style="width: 100px; height: 40px;" class="btn btn-outline-warning">Favorito</button>
                        </form>
                        <!--boton eliminar el mensaje-->           
                        <form method="post" style="float: right" action="{% url 'eliminar_mensaje' mensaje.pk %}">
                            {% csrf_token %}
                            <button type="submit" style="width: 300px; height: 40px;" class="btn btn-outline-danger">Eliminar</button>
                        </form>
                    </div>
                  </div>                    
                {% endif %}
            {% endfor %}
    </div>

    <div id="contenidoRecibidos" class="tab-content" style="display:none;">
        <br>
        <form method="GET" action="{% url 'buscar_mensajes' %}">
            <input type="hidden" name="filtro" value="{{ filtro_activo }}">
            <input type="text" name="barrabuscar" placeholder="Buscar mensaje por Destinatario...">
            <button class="btn-outline-primary" type="submit">Buscar</button>
        </form>
        {% if not encontrado %}
        <p><br> Aún no se ha ingresado un término de búsqueda</p>
        {% elif not mensajes %}
        <p><br>Aún no hay mensajes recibidos</p>
        {% else %}
            <h4 class="subtitle"><br>Resultados:</h4>
            <br>
            <table class="table table-striped table-hover">
                <tbody>
                    {% for mensaje in mensajes %}
                        <tr class="mensaje-fila">
                            <td colspan="2" class="mensaje-contenido">
                                <div class="mensaje-header">
                                    <h4 style="margin-left: 10px;">{{ mensaje.asunto|capfirst }}</h4>
                                    <span class="fecha-envio">{{ mensaje.fecha_envio }}</span>
                                </div>
                                <div class="card" style="width: 40rem;">
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item">Remitente: {{mensaje.remitente}}</li>
                                      <li class="list-group-item">Destinatario:  <strong>{{mensaje.destinatario}}</strong></li>
                                      <li class="list-group-item">{{mensaje.texto}}</li>
                                    </ul>
                                    <div class="card-footer" style="display: flex; justify-content: space-between; align-items: center; background-color: rgb(32, 34, 70); border-radius: 10px;">
                                        <!--boton ver mas detalles-->
                                        <button class="btn btn-outline-info" style="width: 30%; height: 40px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Detalles</button>
                                        <!--boton destacar el mensaje-->
                                        <form method="post" action="{% url 'marcar_favorito' mensaje.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" style="width: 100px; height: 40px;" class="btn btn-outline-warning">Favorito</button>
                                        </form>
                                        <!--boton eliminar el mensaje-->           
                                        <form method="post" style="float: right" action="{% url 'eliminar_mensaje' mensaje.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" style="width: 300px; height: 40px;" class="btn btn-outline-danger">Eliminar definitivamente</button>
                                        </form>
                                    </div>
                                  </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>


    <div id="contenidoEnviados" class="tab-content" style="display:none;">
        <br>
        <form method="GET" action="{% url 'buscar_mensajes' %}">
            <input type="hidden" name="filtro" value="{{ filtro_activo }}">
            <input type="text" name="barrabuscar" placeholder="Buscar mensaje por Remitente...">
            <button class="btn-outline-primary" type="submit">Buscar</button>
        </form>
        {% if not encontrado %}
        <p><br> Aún no se ha ingresado un término de búsqueda</p>
        {% elif not mensajes %}
            <p><br>Aún no hay mensajes recibidos</p>
        {% else %}
            <br><h4 class="subtitle"><br>Resultados:</h4>
            <br>
            <table class="table table-striped table-hover">
                <tbody>
                    {% for mensaje in mensajes %}
                        <tr class="mensaje-fila">
                            <td colspan="2" class="mensaje-contenido">
                                <div class="mensaje-header">
                                    <h4 style="margin-left: 10px;">{{ mensaje.asunto|capfirst }}</h4>
                                    <span class="fecha-envio">{{ mensaje.fecha_envio }}</span>
                                </div>
                                <div class="card" style="width: 40rem;">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Remitente: {{mensaje.remitente}}</li>
                                        <li class="list-group-item">Destinatario:  <strong>{{mensaje.destinatario}}</strong></li>
                                      <li class="list-group-item">{{mensaje.texto}}</li>
                                    </ul>
                                    <div class="card-footer" style="display: flex; justify-content: space-between; align-items: center; width: 100%; background-color: rgb(32, 34, 70); border-radius: 10px;">
                                        <!--boton ver mas detalles-->
                                        <button class="btn btn-outline-info" style="width: 30%; height: 40px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Detalles</button>
                                        <!--boton destacar el mensaje-->
                                        <form method="post" action="{% url 'marcar_favorito' mensaje.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" style="width: 30%; height: 40px;" class="btn btn-outline-warning">Favorito</button>
                                        </form>
                                        <!--boton eliminar el mensaje-->           
                                        <form method="post" style="float: right" action="{% url 'enviar_papelera' mensaje.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" style="width: 30%; height: 40px;" class="btn btn-outline-danger">Eliminar</button>
                                        </form>
                                    </div>
                                  </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    <div id="contenidoFavoritos" class="tab-content" style="display:none;">
        <br>
        <h4>Mostrando los mensajes destacados</h4>
        <br>
                {% for mensaje in mensajes %}
                    {% if mensaje.favorito and not mensaje.eliminado %}
                            <tr class="mensaje-fila">
                                <td colspan="2" class="mensaje-contenido">
                                    <div class="mensaje-header">
                                        <h4 style="margin-left: 10 px;">{{ mensaje.asunto|capfirst }}</h4>
                                        <span class="fecha-envio">{{ mensaje.fecha_envio }}</span>
                                    </div>
                                    <button type="button" class="btn btn-outline-primary" onclick="verDetalle('{{ mensaje.id|escapejs }}')">Abrir/Cerrar mensaje</button>
                                    <div id="detalles-{{ mensaje.id }}" style="display:none;">   
                                                <div class="card card-body">
                                                    <i><b>Enviado a:</b> {{ mensaje.destinatario|capfirst }} &nbsp; <b>De:</b> {{ mensaje.remitente|capfirst }}</i>
                                                    <br><br>
                                                    <span style="margin-left: 10%;">-{{ mensaje.texto }}</span>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="card-footer" style="display: flex; justify-content: space-between; align-items: center; width: 100%; background-color: rgb(32, 34, 70); border-radius: 10px;">
                                        <!--boton ver mas detalles-->
                                        <button class="btn btn-outline-info" style="width: 30%; height: 40px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Detalles</button>
                                        <!--boton destacar el mensaje-->
                                        <form method="post" action="{% url 'marcar_favorito' mensaje.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" style="width: 30%; height: 40px;" class="btn btn-outline-warning">Favorito</button>
                                        </form>
                                        <!--boton eliminar el mensaje-->           
                                        <form method="post" style="float: right" action="{% url 'enviar_papelera' mensaje.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" style="width: 30%; height: 40px;" class="btn btn-outline-danger">Eliminar</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                    {% endif %}
                {% endfor %}
    </div>

{% endblock %}
