{% extends 'base.html' %}

{% block title %}Mensajes{% endblock %}

{% block content %}
<h1>Mensajes</h1>


<div class="tabs">
    <a class="btn btn-primary" href="{% url 'listar_mensajes' %}?filtro=todos" id="tabTodos" class="active">Todos</a>
    <a class="btn btn-primary" href="{% url 'listar_mensajes' %}?filtro=favoritos" id="tabFavoritos">Favoritos</a>
    <a class="btn btn-primary" href="{% url 'listar_mensajes' %}?filtro=recibidos" id="tabRecibidos">Recibidos</a>
    <a class="btn btn-primary" href="{% url 'listar_mensajes' %}?filtro=enviados" id="tabEnviados">Enviados</a>
</div>


<div id="contenidoTodos" class="tab-content active">
    <br>
    <table class="table table-striped table-hover">
        <tbody>
            {% for mensaje in mensajes %}
            {% if not mensaje.eliminado %}
                    <tr class="mensaje-fila">
                        <td colspan="2" class="mensaje-contenido">
                            <div class="mensaje-header">
                                <h4 style="margin-left: 10 px;">{{ mensaje.asunto|capfirst }}</h4>
                                <span class="fecha-envio">{{ mensaje.fecha_envio }}</span>
                            </div>
                            <button type="button" class="btn btn-outline-primary" onclick="verDetalle('{{ mensaje.id|escapejs }}')">Abrir/Cerrar mensaje</button>
                            <div id="detalles-{{ mensaje.id }}" style="display:none;">   
                                        <div class="card card-body">
                                            <i><b>Enviado a:</b> {{ mensaje.destinatario|capfirst }} &nbsp; <b>De:</b> {{ mensaje.remitente|capfirst }}</i>
                                            <br><br>
                                            <span style="margin-left: 10%;">-{{ mensaje.texto }}</span>
                                        </div>
                                </div>
                            </div>
                            <form method="post" style="float: right;" action="{% url 'eliminar_mensaje' mensaje.pk %}">
                                {% csrf_token %}
                                <button type="submit"class="btn btn-outline-danger">Enviar a la papelera</button>
                            </form>
                            <form method="post" action="{% url 'marcar_favorito' mensaje.pk %}"></form>
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-warning">Favorito</button>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="contenidoRecibidos" class="tab-content" style="display:none;">
    <br><br>
    <h2>Buscar por Destinatario</h2>
    <input type="text" id="barrabuscar" name="barrabuscar" placeholder="Buscar..." oninput="buscarMensajes()" value="{{ request.GET.barrabuscar }}">
    <button type="button" class="btn btn-outline-primary" onclick="buscarMensajes()">Buscar</button>
    {% if barrabuscar %}
        <h4>Mostrando mensajes recibidos para {{ barrabuscar }}:</h4>
        <table class="table table-striped table-hover">
            <tbody>
                {% for mensaje in mensajes %}
                {% if mensaje.destinatario == barrabuscar and not mensaje.eliminado %}
                        <tr class="mensaje-fila">
                            <td colspan="2" class="mensaje-contenido">
                                <div class="mensaje-header">
                                    <h4 style="margin-left: 10 px;">{{ mensaje.asunto|capfirst }}</h4>
                                    <span class="fecha-envio">{{ mensaje.fecha_envio }}</span>
                                </div>
                                <button type="button" class="btn btn-outline-primary" onclick="verDetalle('{{ mensaje.id|escapejs }}')">Abrir/Cerrar mensaje</button>
                                <div id="detalles-{{ mensaje.id }}" style="display:none;">   
                                            <div class="card card-body">
                                                <i><b>Enviado a:</b> {{ mensaje.destinatario|capfirst }} &nbsp; <b>De:</b> {{ mensaje.remitente|capfirst }}</i>
                                                <br><br>
                                                <span style="margin-left: 10%;">-{{ mensaje.texto }}</span>
                                            </div>
                                    </div>
                                </div>
                                <form method="post" style="float: right;" action="{% url 'enviar_papelera' mensaje.pk %}">
                                    {% csrf_token %}
                                    <button type="submit"class="btn btn-outline-danger">Enviar a la papelera</button>
                                </form>
                                <form method="post" action="{% url 'marcar_favorito' mensaje.pk %}"></form>
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-warning">Favorito</button>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

<div id="contenidoEnviados" class="tab-content" style="display:none;">
    <br><br>
    <h2>Buscar por remitente</h2>
    <input type="text" name="barrabuscar" placeholder="Ingresa el nombre del remitente..." value="{{ request.GET.barrabuscar }}"> 
    <button type="button" class="btn btn-outline-primary" onclick="buscarMensajes()">Buscar</button>
    {% if barrabuscar %}
        <h4>Mostrando mensajes enviados realizados por {{ barrabuscar }}:</h4>
        <table class="table table-striped table-hover">
            <tbody>
                {% for mensaje in mensajes %}
                {% if mensaje.remitente == barrabuscar and not mensaje.eliminado %}
                        <tr class="mensaje-fila">
                            <td colspan="2" class="mensaje-contenido">
                                <div class="mensaje-header">
                                    <h4 style="margin-left: 10 px;">{{ mensaje.asunto|capfirst }}</h4>
                                    <span class="fecha-envio">{{ mensaje.fecha_envio }}</span>
                                </div>
                                <button type="button" class="btn btn-outline-primary" onclick="verDetalle('{{ mensaje.id|escapejs }}')">Abrir/Cerrar mensaje</button>
                                <div id="detalles-{{ mensaje.id }}" style="display:none;">   
                                            <div class="card card-body">
                                                <i><b>Enviado a:</b> {{ mensaje.destinatario|capfirst }} &nbsp; <b>De:</b> {{ mensaje.remitente|capfirst }}</i>
                                                <br><br>
                                                <span style="margin-left: 10%;">-{{ mensaje.texto }}</span>
                                            </div>
                                    </div>
                                </div>
                                <form method="post" style="float: right;" action="{% url 'enviar_papelera' mensaje.pk %}">
                                    {% csrf_token %}
                                    <button type="submit"class="btn btn-outline-danger">Enviar a la papelera</button>
                                </form>
                                <form method="post" action="{% url 'marcar_favorito' mensaje.pk %}"></form>
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-warning">Favorito</button>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

<div id="contenidoFavoritos" class="tab-content" style="display:none;">
    <br>
    <h4>Mostrando los mensajes destacados</h4>
    <br>
    <table class="table table-striped table-hover">
        <tbody>
            {% for mensaje in mensajes %}
            {% if mensaje.favorito and not mensaje.eliminado %}
                    <tr class="mensaje-fila">
                        <td colspan="2" class="mensaje-contenido">
                            <div class="mensaje-header">
                                <h4 style="margin-left: 10 px;">{{ mensaje.asunto|capfirst }}</h4>
                                <span class="fecha-envio">{{ mensaje.fecha_envio }}</span>
                            </div>
                            <button type="button" class="btn btn-outline-primary" onclick="verDetalle('{{ mensaje.id|escapejs }}')">Abrir/Cerrar mensaje</button>
                            <div id="detalles-{{ mensaje.id }}" style="display:none;">   
                                        <div class="card card-body">
                                            <i><b>Enviado a:</b> {{ mensaje.destinatario|capfirst }} &nbsp; <b>De:</b> {{ mensaje.remitente|capfirst }}</i>
                                            <br><br>
                                            <span style="margin-left: 10%;">-{{ mensaje.texto }}</span>
                                        </div>
                                </div>
                            </div>
                            <form method="post" style="float: right;" action="{% url 'enviar_papelera' mensaje.pk %}">
                                {% csrf_token %}
                                <button type="submit"class="btn btn-outline-danger">Enviar a la papelera</button>
                            </form>
                            <form method="post" action="{% url 'marcar_favorito' mensaje.pk %}"></form>
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-warning">Favorito</button>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
