{% extends 'base.html' %}

{% block title %}Papelera{% endblock %}

{% block content %}
    <h4 style="padding-top: 10px;">Mensajes Eliminados en papelera:</h4>
        {% for mensaje in mensajes %}
            {% if mensaje.eliminado %}
            <div class="card text-bg-light mb-3" style="max-width: 70%;">
              <div class="card-body">
              <span class="card-title"><strong>Enviado por:</strong> {{mensaje.remitente}}</span>
              <span class="fecha-envio" style="float: right;">{{ mensaje.fecha_envio|date:"d M" }}</span>
                  </button>
                  <!-- Desliza --> 
                  <br>
                  <div class="accordion accordion-flush" id="accordionFlushExample">
                      <div class="accordion-item">
                      <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          <!-- Asunto -->
                              <h4 style="font-size: large;">{{mensaje.asunto}}</h4>
                          </button>
                      </h2>
                      <!-- Texto -->
                      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">{{mensaje.texto}}</div>
                      </div>
                      </div>
                  </div>
                  <!--Click ver mas detalles-->
                  
                  <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
                      <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasBottomLabel">Detalles del mensaje</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                      </div>
                      <div class="offcanvas-body small">
                      <span><strong>Fecha:</strong> {{mensaje.fecha_envio}}</span><br>
                      <span><strong>Id del mensaje:</strong>{{mensaje.pk}}</span><br>
                      <span><strong>Destinatario:</strong> {{mensaje.destinatario|capfirst}}</span><br>
                      <span><strong>Favorito:</strong> {{mensaje.favorito}}</span><br>
                      <span><strong>Eliminado:</strong> {{mensaje.eliminado}}</span><br>
                      </div>
                  </div>
              <br>
              </div>
                  <div class="card-footer" style="display: flex; justify-content: space-between; align-items: center; background-color: rgb(32, 34, 70); border-radius: 10px;">
                    <!--boton ver mas detalles-->
                    <button class="btn btn-outline-info" style="width: 30%; height: 40px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Detalles</button>
                    <!--boton eliminar el mensaje-->           
                    <form method="post" style="float: right" action="{% url 'eliminar_mensaje' mensaje.pk %}">
                        {% csrf_token %}
                        <button type="submit" style="width: 300px; height: 40px;" class="btn btn-outline-danger">Eliminar definitivamente</button>
                    </form>
                    <form method="post" style="float: right" action="{% url 'recuperar_mensaje' mensaje.pk %}">
                        {% csrf_token %}
                        <button type="submit" style="width: 300px; height: 40px;" class="btn btn-outline-success">Restaurar</button>
                </div>
            </div>
            {% endif %}
        {% endfor %}

{% endblock %}
