<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tablero de Mensajes{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'mensajes/styles.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        {% block content %}
        <!-- Contenido específico de cada plantilla irá aquí -->
        {% endblock %}
    </div>
</body>
</html>
